<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Rajesh Kumar | Resume |</title>
  </head>
  <body>
  <div class="container">
<div class="panel">
				<center><a href="pdf/rajeshkumar-devops-cv.pdf"><input type="button" class="btn btn-success custom-size-lg btn-fill size-xs bg-accent border-color-accent radius-45 color-light hover-color-accent btn-icon icon-center" value="Download Resume" ng-model="searchtext"  style="font-size:20px"></a><a href="pdf/cover_letter.pdf"><input type="button" class="btn btn-success custom-size-lg btn-fill size-xs bg-accent border-color-accent radius-45 color-light hover-color-accent btn-icon icon-center" value="Download Cover Letter" ng-model="searchtext"  style="font-size:20px"></center></a><br/>
              	<!--Row with two equal columns-->
				<div class="row">
				 
				<object data="pdf/rajeshkumar-devops-cv.pdf" type="application/pdf" width="100%" height="800px"> 
				<p>It appears you don't have a PDF plugin for this browser.
				 No biggie... you can <a href="pdf/rajeshkumar-devops-cv.pdf">click here to
				download the PDF file.</a></p>  
				</object>
				</div>

             	</div>
             	</div>
             	</div>  	
			</div>
			</div>
 <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </body>
</html>